body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.logo .white-logo {
    margin-left: 1em !important;
    text-transform: uppercase;
    font-size: 200%;
    /*font-family: "JetBrains Mono ExtraBold", serif;*/
    font-family: title-font, serif;
}
.logo .logo-overlay {
    position:absolute;
    min-height: 400%;
    min-width: 10%;
    /*left: 100;*/
    /*top: 400;*/
    /*padding-left: 10 !important;*/
    font-family: moon-time,serif;
    color: deeppink;
    font-size: 150%;
}
.logo .pink-logo {
    writing-mode: sideways-lr;
    font-family: moon-time,serif;
    color: deeppink;
    font-size: 250%;
    /*margin-inside: -10 !important;*/
    /*padding-left: 10 !important;*/
}
.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #ffffff;
	font-size: 600%;
    font-weight: bold;
    /*font-family: fantasy;*/
    font-family: title-font, serif;
}
.description .title-overlay {
    position:absolute;
    min-height: 50%;
    min-width: 170%;
    left: 0;
    top: 0;
    font-family: moon-time,serif;
    color: deeppink;
    font-size: 600%;
}
.description h2 {
	color: #6ab446;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.description button {
    border:1px solid #6ab446;
    background:#6ab446;
    border-radius: 10;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}
.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
    text-align: center;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}
.features .cover {
    height: 300px;
    object-fit: contain;
}
.background {
	background: #dedec8;
	padding: 4em 0;
}
.ratio {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.dashboard-container {
    background: #324875;
}
.team {
	color: #5e5e55;
	padding: 0 180px;
}
.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.team .card {
	background:none;
	border: none;
}
.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}
.team .cover {
    height: 300px;
    object-fit: cover;
}
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}
@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .description h1 {
        font-size: 2em;
    }

    .description p {
        font-size: 1.2rem;
    }

    .features {
        margin: 0;
    }
}
@font-face {
    font-family: "moon-time";
    src: url("fonts/MoonTime-Regular.ttf");
}
@font-face {
    font-family: "title-font";
    /*src: url("fonts/CaviarDreams_Bold.ttf");*/
    src: url("fonts/LEMONMILK-Medium.otf");
}